pytest
pytz

bottle >= 0.12.19, < 0.13
requests >= 2.27.1, < 3.0
cheroot >= 8.6.0, < 9.0
beaker >= 1.11.0, < 2.0
psutil >= 5.9.0, < 6.0

pip-services3-commons >= 3.3.14, < 4.0
pip-services3-components >= 3.5.9, < 4.0